.header{
    text-align: center;
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-xl);
    border-bottom: 2px solid var(--neon-blue);
    box-shadow: 0 4px 30px rgba(0, 212, 255, 0.3);
    border-radius: 10px;
}

.header h1{
    font-size: 2.5rem;
    margin-bottom: var(--spacing-sm);
    background: linear-gradient(135deg, var(--neon-blue), var(--neon-purple));
    -webkit-background-clip: text;/*clipping the h1 text, i,e, hiding the background gradient except the shape of letters*/
    -webkit-text-fill-color: transparent;/*making the h1 text white color transparent so that the clipped gradient lying under it shows up*/
    background-clip: text;/*std version for modern browsers, while the webkit clip is for older versions of browsers*/
    text-shadow: 0 0 30px rgba(0, 212, 255, 0.3);
}
 .header p{
    font-size: 1rem;
    color: var(--text-secondary);
 }